<div class="p-8 max-w-5xl mx-auto bg-white rounded shadow space-y-6">

  <h1 class="text-2xl font-bold text-gray-800 mb-4">{{method === 'update'? 'Modificar Pedido' : 'Nou Pedido'}}</h1>

  <form [formGroup]="bookingform" (ngSubmit)="onSubmit()" class="space-y-6">

    <!-- Matrícula Camión -->
    <div>
      <label class="block text-sm font-medium text-gray-700">Matrícula Camión</label>
      <input type="text" formControlName="matricula_camion"
        class="mt-1 block w-full rounded border border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500" />
    </div>

    <!-- Número de descargas -->
    <div class="p-4 border space-y-3">
      <div>
        <label class="block text-sm font-medium text-gray-700">Número de descargas</label>
        <select formControlName="numero_descargas"
          class="mt-1 block w-full rounded border border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500">
          <option [value]="1">1</option>
          <option [value]="2">2</option>
        </select>
      </div>

      <!-- Pedido LF -->
      <div class="flex flex-row space-x-2">
        <div>
          <label class="block text-sm font-medium text-gray-700">Código Pedido LF 1</label>
          <input type="text" formControlName="pedido1"
            class="mt-1 block w-full rounded border border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500" />
        </div>

        <div *ngIf="bookingform.get('numeroDescargas')?.value == 2" class="space-x-2 flex flex-row">
          <div>
            <label class="block text-sm font-medium text-gray-700">Código Pedido LF 2</label>
            <input type="text" formControlName="pedido2" [disabled]="bookingform.get('usarMismoCodigo')?.value"
              class="mt-1 block w-full rounded border border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500" />
          </div>
          <label class="inline-flex items-center">
            <input type="checkbox" formControlName="usarMismoCodigo" class="mr-2">
            Mismo código para las dos descargas
          </label>
        </div>
      </div>

      <!-- Inputs dinàmics -->
      <div *ngFor="let i of [0, 1]; let idx = index" [hidden]="idx >= bookingform.get('numero_descargas')?.value">
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label class="block text-sm font-medium text-gray-700">Material {{ idx + 1 }}</label>
            <select [formControlName]="'material' + (idx+1)"
              class="mt-1 block w-full rounded border border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500">
              <option *ngFor="let mat of materials" [value]="mat.material_id">{{ mat.nombre }}</option>
            </select>
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700">Cantidad {{ idx + 1 }}</label>
            <input type="number" [formControlName]="'cantidad' + (idx+1)"
              class="mt-1 block w-full rounded border border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500" />
          </div>
        </div>
      </div>

      <!-- Camió Disponible -->
      <div class="mt-4">
        <label class="block text-sm font-medium text-gray-700">Camión disponible</label>
        <select formControlName="tipo_camion"
          class="mt-1 block w-full rounded border border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500">
          <option *ngFor="let camion of itemsDisponible.camiones" [value]="camion.tipo_camion_id">
            {{ camion.nombre }}
          </option>
        </select>
      </div>
    </div>

    <!-- Càrrega horaris -->
    <div>
      <div class="flex gap-2 items-center">
        <button type="button" (click)="openCalendarModal()"
          class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition">
          Buscar Hora
        </button>
      </div>
    </div>

    <!-- Duració entrega -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <label class="block text-sm font-medium text-gray-700">Duración Entrega (min)</label>
        <div class="mt-1 block w-full rounded border border-gray-300 bg-gray-100 px-3 py-2">
          {{ bookingform.get('duracion_entrega')?.value }}
        </div>
      </div>

      <!-- Moll -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Muelle</label>
        <div class="mt-1 block w-full rounded border border-gray-300 bg-gray-100 px-3 py-2">
            {{ getMuelleNombre() || '—' }}
        </div>
      </div>

      <!-- Hora Inici -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Hora Inicio</label>
        <div class="mt-1 block w-full rounded border border-gray-300 bg-gray-100 px-3 py-2">
          {{ bookingform.get('inicio')?.value ? formatDate(bookingform.get('inicio')?.value) : ''}}
        </div>
      </div>

      <!-- Hora Final -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Hora Fin</label>
        <div class="mt-1 block w-full rounded border border-gray-300 bg-gray-100 px-3 py-2">
          {{ bookingform.get('fin')?.value ? formatDate(bookingform.get('fin')?.value) : ''}}
        </div>
      </div>

      <!-- Status -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Estado</label>
        <select formControlName="estado"
          class="mt-1 block w-full rounded border border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500">
          <option *ngFor="let stat of status" [value]="stat.estado_id">
            {{ stat.nombre }}
          </option>
        </select>
      </div>

      <!-- Proveedor -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Proveedor</label>
      <mat-form-field class="w-full">
        <input matInput formControlName="proveedor" [matAutocomplete]="autoProveedor" [disabled]="isProveedor">
        <mat-autocomplete #autoProveedor="matAutocomplete" [displayWith]="displayFnProveedor">
          <mat-option *ngFor="let provider of filteredProviders$ | async" [value]="provider.proveedor_id">
            {{ provider?.entidad?.nombre }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      </div>

      <!-- Carrier -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Transportista</label>

      <mat-form-field class="w-full">
        <input matInput formControlName="transportista" [matAutocomplete]="autoCarrier" [disabled]="isTransportista">
        <mat-autocomplete #autoCarrier="matAutocomplete" [displayWith]="displayFnCarrier">
          <mat-option *ngFor="let Carrier of filteredCarriers$ | async" [value]="Carrier.transportista_id">
            {{ Carrier.entidad.nombre }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      </div>

      <!-- Aduana -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Aduana</label>
        <select formControlName="aduana"
          class="mt-1 block w-full rounded border border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500">
          <option value="si">Sí</option>
          <option value="no">No</option>
        </select>
      </div>
    </div>

    <!-- Notas -->
    <div>
      <label class="block text-sm font-medium text-gray-700">Notas</label>
      <textarea formControlName="notas"
        class="mt-1 block w-full rounded border border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500"></textarea>
    </div>

    <!-- Archivos -->
    <div class="mb-4">
      <label for="archivos">Adjuntar arxius:</label>
      <input type="file" id="archivos" (change)="onFileSelected($event)" multiple class="block w-full mt-2" />
    </div>

    <!-- Botó Enviar -->
    <div class="text-right pt-4">
      <button type="submit" [disabled]="bookingform.invalid || isLoading" [ngClass]="{
    'bg-green-600 hover:bg-green-700': bookingform.valid,
    'bg-green-800 opacity-65 cursor-not-allowed': bookingform.invalid
  }" class="px-6 py-2 text-white rounded transition">
        {{method === 'update'? 'Modificar Pedido' : 'Enviar Pedido'}}
      </button>
    </div>
    <div *ngIf="method === 'update'">
      <h2 class="text-lg font-semibold text-gray-800 mb-4">Archivos existentes en esta reserva</h2>
      <div *ngFor="let file of existingFiles" class="flex items-center gap-2">
        <span>{{ file.name }}</span>
        <button type="button" (click)="deleteFile(file)" class="text-red-600 hover:text-red-800">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="isLoading" class="absolute inset-0 bg-white/60 flex items-center justify-center z-20">
  <div class="flex text-center items-center gap-3">
    <div class="loader animate-spin h-8 w-8 border-4 border-blue-500 border-t-transparent rounded-full mb-2"></div>
    <p class="text-gray-700">Carregant...</p>
  </div>
</div>
