<aside class="w-full bg-gray-900 text-white h-full pt-16 p-6">
  <ul class="space-y-3">

    <ng-container *ngFor="let item of sidebarItems">

      <!-- Dropdown -->
      <li *ngIf="item.children?.length; else singleLink">
        <button (click)="toggleDropdown(item.label)"
          class="w-full text-left flex justify-between items-center py-2 hover:bg-gray-800 rounded transition-all duration-300">
          <span>{{ item.label | translate }}</span>
          <span class="material-icons transform transition-transform duration-300"
            [class.rotate-90]="openDropdown === item.label">
            arrow_right
          </span>

        </button>
        <!-- Submenú -->
        <ul *ngIf="openDropdown === item.label" class="pl-6 mt-2 space-y-1">
          <li *ngFor="let child of item.children">
            <a [routerLink]="child.route" routerLinkActive="bg-blue-600 shadow-md scale-[1.02] rounded px-3 py-2 block"
              [routerLinkActiveOptions]="{ exact: true }"
              class="block px-3 py-2 rounded hover:bg-gray-800 transition-all duration-300">
              {{ child.label | translate }}
            </a>
          </li>
        </ul>
      </li>

      <!-- Ítem simple -->
      <ng-template #singleLink>
        <li>
          <a [routerLink]="item.route" routerLinkActive="bg-blue-600 shadow-md scale-[1.02] rounded px-3 py-2 block"
            [routerLinkActiveOptions]="{ exact: true }"
            class="transition-all duration-300 ease-in-out hover:shadow-lg hover:scale-[1.05] rounded px-3 py-2 block">
            {{ item.label | translate }}
          </a>
        </li>
      </ng-template>

    </ng-container>

  </ul>
</aside>
