<aside class="w-full bg-gray-900 text-white h-full pt-16 p-6">
  <ul class="space-y-3">

    <!-- Ítem 1 -->
    <li>
      <a
        routerLink="/dashboard"
        routerLinkActive="bg-blue-600 shadow-md scale-[1.02] rounded px-3 py-2 block"
        class="transition-all duration-300 ease-in-out hover:shadow-lg hover:scale-[1.05] rounded px-3 py-2 block"
      >
        {{ 'DASHBOARD' | translate }}
      </a>
    </li>

    <div class="border-t border-gray-600 w-full mx-auto opacity-40"></div>

    <li>
      <a
        routerLink="/bookings"
        routerLinkActive="bg-blue-600 shadow-md scale-[1.02] rounded px-3 py-2 block"
        class="transition-all duration-300 ease-in-out hover:shadow-lg hover:scale-[1.05] rounded px-3 py-2 block"
      >
        {{ 'BOOKING_PAGE.TITLE' | translate }}
      </a>
    </li>

    <div class="border-t border-gray-600 w-full mx-auto opacity-40"></div>

    <li>
      <a
        routerLink="/calendar"
        routerLinkActive="bg-blue-600 shadow-md scale-[1.02] rounded px-3 py-2 block"
        class="transition-all duration-300 ease-in-out hover:shadow-lg hover:scale-[1.05] rounded px-3 py-2 block"
      >
        {{ 'CALENDARIO' | translate }}
      </a>
    </li>

  </ul>
</aside>
