<div class="relative flex flex-col h-full">
  <!-- Botón + Lista de muelles -->
  <div class="p-2 z-10 flex items-center justify-between">
    <!-- Botón a la izquierda -->
    <button (click)="toggleWeekends()" class="px-4 py-2 bg-blue-600 text-white rounded">
      {{ 'CALENDAR_PAGE.MOSTRAR_FINDE' | translate }}
    </button>

    <!-- Contenedor para centrar la lista de muelles -->
    <div class="flex-1 flex justify-center overflow-x-auto max-w-full">
      <div class="flex space-x-2">
        <button
          *ngFor="let muelle of muelles"
          (click)="toggleMuelleSelection(muelle.muelle_id)"
          [class.bg-blue-600]="isMuelleSelected(muelle.muelle_id)"
          [class.text-white]="isMuelleSelected(muelle.muelle_id)"
          [class.bg-gray-200]="!isMuelleSelected(muelle.muelle_id)"
          class="px-3 py-1 rounded cursor-pointer whitespace-nowrap border border-gray-300"
        >
          {{ muelle.nombre }}
        </button>
      </div>
    </div>
  </div>

  <!-- Calendario -->
  <div class="flex-1 overflow-hidden z-10">
    <full-calendar
      [options]="calendarOptions"
      class="h-full"
    ></full-calendar>
  </div>

  <!-- Overlay loading -->
  <div
    *ngIf="isLoading"
    class="absolute inset-0 bg-white/60 flex items-center justify-center z-20"
  >
    <div class="flex text-center items-center gap-3">
      <div class="loader animate-spin h-8 w-8 border-4 border-blue-500 border-t-transparent rounded-full mb-2"></div>
      <p class="text-gray-700">Carregant...</p>
    </div>
  </div>
</div>

<div 
  *ngIf="tooltipVisible" 
  [ngStyle]="{'top.px': tooltipPos.y, 'left.px': tooltipPos.x}"
  class="fixed z-[100] p-3 bg-white border border-gray-200 shadow-xl rounded-lg pointer-events-none min-w-[200px]"
>
  <h4 class="font-bold text-blue-700 border-b mb-1">{{ tooltipData.title }}</h4>
  <p class="text-xs text-gray-600"><strong>Inici:</strong> {{ tooltipData.start }}</p>
  <p class="text-xs text-gray-600" *ngIf="tooltipData.proveedor"><strong>Prov:</strong> {{ tooltipData.proveedor }}</p>
  <p class="text-xs text-gray-600" *ngIf="tooltipData.matricula"><strong>Matrícula:</strong> {{ tooltipData.matricula }}</p>
</div>
