<div class="relative flex flex-col h-full">
  <!-- Botó -->
  <div class="p-2 z-10">
    <button (click)="toggleWeekends()" class="px-4 py-2 bg-blue-600 text-white rounded">
      {{ 'CALENDAR_PAGE.MOSTRAR_FINDE' | translate }}
    </button>
  </div>

  <!-- Calendari -->
  <div class="flex-1 overflow-hidden z-10">
    <full-calendar
      [options]="calendarOptions"
      [events]="eventsPromise | async"
      class="h-full"
    ></full-calendar>
  </div>

  <!-- Overlay de bloqueig -->
  <div
    *ngIf="isLoading"
    class="absolute inset-0 bg-white/60 flex items-center justify-center z-20"
  >
    <div class="flex text-center items-center gap-3">
      <div class="loader animate-spin h-8 w-8 border-4 border-blue-500 border-t-transparent rounded-full mb-2"></div>
      <p class="text-gray-700">Carregant...</p>
    </div>
  </div>
</div>
