<app-generic-form *ngIf="method === 'update'"
  formTitle="Editar Proveedor"
  tableName="proveedores"
  [selectFields]="{
    tipo_proveedor_id: { api: 'tipoproveedores', labelField: 'nombre', valueField: 'tipo_proveedor_id', label: 'Tipo de proveedor' }
  }"
  [excludedFields]="['created_at','updated_at']"
  [initialData]="initialProviderData"
  (submitForm)="onSubmit($event)">
</app-generic-form>

<app-generic-form *ngIf="method === 'post'"
  formTitle="Añadir Proveedor"
  tableName="proveedores"
  [selectFields]="{
    tipo_proveedor_id: { api: 'muelles', labelField: 'nombre', valueField: 'muelle_id', label: 'Muelles Disponibles' },
  }"
  [excludedFields]="['created_at','updated_at']"
  (submitForm)="onSubmit($event)">
</app-generic-form>

<div
  *ngIf="isLoading"
  class="absolute inset-0 bg-white/60 flex items-center justify-center z-20"
>
  <div class="flex text-center items-center gap-3">
    <div class="loader animate-spin h-8 w-8 border-4 border-blue-500 border-t-transparent rounded-full mb-2"></div>
    <p class="text-gray-700">Carregant...</p>
  </div>
</div>
