<div class="relative w-full max-w-4xl mx-auto p-6 flex flex-col">
  <!-- Títol -->
  <h2 class="text-xl sm:text-2xl font-semibold mb-4 text-gray-800 text-center">Selecciona una data</h2>

  <!-- Calendari -->
  <div class="flex-grow overflow-auto z-10">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>

  <!-- Botons -->
  <div class="flex flex-grow gap-4 justify-end z-10">
    <div class="mt-6 text-center sm:text-right">
      <button (click)="close()" [disabled]="isLoading"
        class="inline-block px-4 py-2 bg-gray-300 text-sm sm:text-base rounded hover:bg-gray-400 transition disabled:opacity-50">
        Tancar
      </button>
    </div>
    <div class="mt-6 text-center sm:text-right">
      <button (click)="save()" [disabled]="isLoading"
        class="inline-block px-4 py-2 bg-blue-500 text-sm sm:text-base rounded hover:bg-blue-400 transition disabled:opacity-50">
        Guardar
      </button>
    </div>
  </div>

  <!-- Capa de loading -->
  <div
    *ngIf="isLoading"
    class="absolute inset-0 bg-white/60 flex items-center justify-center z-20"
  >
    <div class="flex text-center items-center gap-3">
      <div class="loader animate-spin h-8 w-8 border-4 border-blue-500 border-t-transparent rounded-full mb-2"></div>
      <p class="text-gray-700">Carregant...</p>
    </div>
  </div>
</div>
