<div class="table-wrapper">
  <table class="matrix-table">
    <thead>
      <tr>
        <th></th>
        @for (header of headers; track header.id) {
          <th>{{ header.nombre }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of rows; track row.id) {
        <tr>
          <!-- encabezado fila -->
          <th>{{ row.nombre }}</th>

          <!-- celdas -->
          @for (col of headers; track col.id) {
            <td [class.diagonal]="row.id === col.id">
              @if (row.id !== col.id) {
                <mat-checkbox 
                  [(ngModel)]="matrix[row.id][col.id]"
                  (change)="onCheckboxChange(row.id, col.id, $event.checked)"
                ></mat-checkbox>
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
<div class="actions">
  <button mat-raised-button color="primary" (click)="saveMatrix()">ACTUALIZAR</button>
</div>
