<app-generic-form *ngIf="method === 'update'"
  formTitle="Editar Transportista"
  tableName="transportes"
  [selectFields]="{
    proveedor_id: { api: 'proveedores', labelField: 'nombre', valueField: 'proveedor_id', label: 'Proveedor' }
  }"
  [excludedFields]="['created_at','updated_at']"
  [initialData]="initialCarrierData"
  (submitForm)="onSubmit($event)">
</app-generic-form>

<app-generic-form *ngIf="method === 'post'"
  formTitle="Añadir Transportista"
  tableName="transportes"
  [selectFields]="{
    proveedor_id: { api: 'proveedores', labelField: 'nombre', valueField: 'proveedor_id', label: 'Proveedor' }
  }"
  [excludedFields]="['created_at','updated_at']"
  (submitForm)="onSubmit($event)">
</app-generic-form>
