<div class="flex items-center justify-start mb-4 gap-6">
  <h1 class="text-2xl font-bold mb-4">Listado Empresas</h1>
  <button
    (click)="onAdd()"
    class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded"
  >
    Añadir Empresa
  </button>
</div>

<app-generic-list
  [items]="companys"
  [columns]="columns"
  (edit)="onEdit($event)"
  (delete)="onDelete($event)">
</app-generic-list>

<div
  *ngIf="isLoading"
  class="absolute inset-0 bg-white/60 flex items-center justify-center z-20"
>
  <div class="flex text-center items-center gap-3">
    <div class="loader animate-spin h-8 w-8 border-4 border-blue-500 border-t-transparent rounded-full mb-2"></div>
    <p class="text-gray-700">Carregant...</p>
  </div>
</div>
