<div class="p-4">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-bold">
      {{ 'BOOKING_PAGE.TITLE' | translate }}
    </h2>

    <button (click)="onAdd()"
      class="flex items-center gap-2 bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-200">
      <mat-icon>add</mat-icon>
      {{ 'BOOKING_PAGE.ANADIR' | translate }}
    </button>
  </div>

  <table mat-table [dataSource]="pagedData" class="mat-elevation-z8 w-full">

    <!-- Hora inicio -->
    <ng-container matColumnDef="hora_inicio">
      <th mat-header-cell *matHeaderCellDef> {{ 'BOOKING_PAGE.HORA_INICIO' | translate }} </th>
      <td mat-cell *matCellDef="let booking"> {{ booking.inicio1 }} </td>
    </ng-container>

    <!-- Tipo de camión 1 -->
    <ng-container matColumnDef="tipo_camion">
      <th mat-header-cell *matHeaderCellDef> {{ 'BOOKING_PAGE.TIPO_CAMION' | translate }} </th>
      <td mat-cell *matCellDef="let booking"> {{ booking.tipo_camion_id }} </td>
    </ng-container>

    <!-- Matrícula camión 1 -->
    <ng-container matColumnDef="matricula">
      <th mat-header-cell *matHeaderCellDef> {{ 'BOOKING_PAGE.MATRICULA_CAMION' | translate }} </th>
      <td mat-cell *matCellDef="let booking"> {{ booking.matricula_camion }} </td>
    </ng-container>

    <!-- ID materials -->
    <ng-container matColumnDef="id_materials">
      <th mat-header-cell *matHeaderCellDef> {{ 'BOOKING_PAGE.ID_MATERIALS' | translate }} </th>
      <td mat-cell *matCellDef="let booking"> {{ booking.tipo_material1_id }} </td>
    </ng-container>

    <!-- Muelle -->
    <ng-container matColumnDef="muelle">
      <th mat-header-cell *matHeaderCellDef> {{ 'BOOKING_PAGE.MUELLE' | translate }} </th>
      <td mat-cell *matCellDef="let booking"> {{ booking.muelle1_id }} </td>
    </ng-container>

    <!-- Cantidad -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef> {{ 'BOOKING_PAGE.CANTIDAD' | translate }} </th>
      <td mat-cell *matCellDef="let booking"> {{ booking.cantidad1 }} </td>
    </ng-container>

    <!-- ID Proveedor -->
    <ng-container matColumnDef="id_proveedor">
      <th mat-header-cell *matHeaderCellDef> {{ 'BOOKING_PAGE.ID_PROVEEDOR' | translate }} </th>
      <td mat-cell *matCellDef="let booking"> {{ booking.proveedor_id }} </td>
    </ng-container>

    <!-- Pedido -->
    <ng-container matColumnDef="pedido">
      <th mat-header-cell *matHeaderCellDef> {{ 'BOOKING_PAGE.PEDIDO' | translate }} </th>
      <td mat-cell *matCellDef="let booking"> {{ booking.pedido_LF }} </td>
    </ng-container>

    <!-- Documentos -->
    <ng-container matColumnDef="documentos">
      <th mat-header-cell *matHeaderCellDef> {{ 'BOOKING_PAGE.DOCUMENTOS' | translate }} </th>
      <td mat-cell *matCellDef="let booking"> {{ booking.documentos }} </td>
    </ng-container>

    <!-- Accions -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        {{ 'BOOKING_PAGE.ACCIONES' | translate }}
      </th>
      <td mat-cell *matCellDef="let booking">
        <div class="flex items-center justify-center gap-2">
          <button mat-icon-button color="primary" (click)="onEdit(booking)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(booking)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="onPrint(booking)">
            <mat-icon>print</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>


    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="pagedData.length" [pageSize]="10" [pageSizeOptions]="[20, 30]" (page)="onPageChange($event)">
  </mat-paginator>
</div>
