<div class="h-screen w-screen flex flex-col">
  <!-- Navbar fixat a dalt -->
  <header class="fixed top-0 left-0 right-0 h-16 bg-gray-900 text-white z-50">
    <app-navbar></app-navbar>
  </header>

  <div class="flex flex-1 pt-16 h-full">
    <!-- Sidebar fixat a l'esquerra, sota el navbar -->
    <aside class="hidden lg:block fixed top-16 left-0 w-64 bottom-0 bg-gray-700 text-white overflow-auto z-40">
      <app-sidebar></app-sidebar>
    </aside>

    <!-- Contingut principal: espaiat per sidebar i navbar -->
    <main class="flex-1 ml-0 lg:ml-64 mt-0 overflow-y-auto bg-gray-100 p-4" style="height: calc(100vh - 4rem);">
      <router-outlet></router-outlet>
      <!-- Aquí el contingut -->
    </main>
  </div>
</div>
